<!doctype html>
<html>
    <head>
        <title>Meadowlark Travel</title>
    </head>
    <body>  
        <header><img src="/img/mem.png" alt="Meme Travel Logo" srcset=""></header>  
        {{{body}}}
    </body>
</html>